<div class="container">
  <h1>User Profile!</h1>
  <div class="card text-center">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <p>Imagine a lovely bio</p>
  </div>
  <%# <%= link_to "Edit your profile",  edit_user_registration(@user)%>
</div>
