.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product {
  width: 272px;
  height: 390px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  height: 274px;
  width: 272px;
  position: relative;
  left: 0%;
  right: 2.85%;
  top: 0%;
  bottom: 22.22%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos a {
  text-decoration: none;
}

.celebservice {
  --bs-badge-padding-x: 0.55em;
  --bs-badge-padding-y: 0.25em;
  --bs-badge-border-radius: 2px;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: 10px;
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: rgb(41, 41, 41) !important;
  background-color: rgb(234, 234, 234) !important;
  border-radius: var(--bs-border-radius-pill);
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
}

.celebprice {
  margin-top: 6px;
  p {
    font-size: 16px;
  }
}

.celebservice2 {
  border-radius: var(--bs-border-radius-pill);
  background-color: rgb(234, 234, 234) !important;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 0px;
  p {
    margin: 0px;
    color: rgb(41, 41, 41) !important;
  }
}
