.container {
  padding: 10;
}

.container-booking {
  width: 95%;
  padding: 20px;
  align-items: center;
  margin-top: 10px;
}

.cards-booking {
  height: 280px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 0px 8px 0px #888888;
  margin-top: 10px;
  a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 4px;
    background: #000000ce;
    transition: background 0.3s ease;
    border: black;
  }
  a:hover {
      background: #000000;
      color: white;
  }
}
.card-info-booking {
  display: flex;
  justify-content: flex-start;
}

.cards-book {
  background: white;
  padding-left: 20px;
  flex-grow: 100;
  p {
    font-size: 20;
  }
}

.cards-booking img {
height: 260px;
width: 200px;
border-radius: 2px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;

}
