.navbar-lewagon {
  justify-content: space-between;
  background: #000000e0;
  a {
    color: white;
  }

  a:hover {
    color: rgb(159, 159, 159);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
